# SVN files
.svn

# history files
__history


# compiled unit
*.dcu
*.jdbg
*.drc


# temp files
*.dproj.local
*.identcache

# binaries
*.bpl
*.exe
*.dll
Win32\*
Win64\*
DCU

*.obj
*.tds
*.pdi
*.res
*.dsk
*.~*
*.gex
*.map
*.rsm  
*.db
*.db3 

!sqlite3.dll
 
/Demos/GettingStarted/Release/Win32/*.db3

/Demos/GettingStarted/Debug/Win32/*.db3
